@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');


$white: white;
$green: #95C41F;
$green-dark: #253303;
$grey: #F1F1F1;
$black:black;
$blue: #6a70a1;
$grey-dark: #6F6F6F;
$grey-light: #F6F6F6;


html, body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: $grey;
}

@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1em;
}

@mixin btn($color: $white, $bg: $blue, $bc: $blue){
    color: $white;
    background-color: $bg;
    border: 1px solid;
    border-color: $bc;
    max-width: 130px;
    min-width: 110px;

    cursor: pointer;

}
/*
@keyframes card {
    0% {
      transform: scaleX(1.0);
    }

    30% {
      }

    100% {
        transform: scaleX(1.1);
    }
    }
*/

h2, h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: $grey-dark;
    font-weight: bold;
}

i{
    color: $blue;
    margin: 5px;
    cursor: pointer;
}

.close{
    text-align: center;
    margin: auto;
    cursor: pointer;

    i{
        font-size: 2em;
        text-align: center;
        cursor: pointer;
        color: $blue;
    }

    i:hover{
        color: $green;
    }
}

.text-center{
    margin: auto;
}

.fw-bold{
    font-weight: bold;
    margin: 15px auto;
}

.location{
    margin: 10px auto;
    i{
        font-size: 1.1em;
        color: $blue;
    }
}

.required{
    color: red;
    font-weight: bold;
}


.menu{
    width: 100%;
    background-color: #535353;
    height: 70vh;
    overflow: hidden;
    text-align: center;
    @include flex(column);
    justify-content: start;

    .btn{
        margin: 5px auto;
        min-width: 130px;
    }


}

.btn{
   @include btn();
}

.btn-grey{
   @include btn($white, $grey, $grey);
}


.btn-grey:hover{
    background-color: $blue;
    color: $white;
}

.buttons{
    display: block;
    text-align: center;
    margin: auto;
    width: 80%;

    .btn{
        margin: 10px;
    }
}

.table-img{
    width: 90px;
    height: 50px;
    margin: auto;
}



.action{}

.btn-primary{
    background-color: $blue;
    border: 1px $blue;
    font-weight: bold;
    a{
        color: $white;
        font-weight: bold;
    }
}

.btn-primary:hover{
    background-color: $green;
    a{
        color: $white;
    }
}

a{
    color: $black;
    text-decoration: none;
}

a:hover{
color: $blue;
text-decoration: none;
font-weight: bold;
}

.red{
    color: red;
    font-weight: bold;
}

li{
    list-style: none;
}

.btn:hover{
}

span{
    color: $blue;
    font-weight: bold;
    font-style: italic;
}

.up{
    background-color: $blue;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    float: right;

    i{
        color: $white;
        font-size: bold;
    }
}

.up:hover{
    background-color: $green;
}

.slider-img{
    height: 400px;
    margin: auto;
    width: 80%;
}

.main{
    display: block;

    .content{
        display: block;
        width: 100%;

        .section{
            width: 100%;
            margin: 15px auto;

          .container{

            .row{
                .tags{
                    background-color: $white;

                    &__heading{
                        background-color: $grey-light;
                        width: 100%;
                        height: 50px;

                        .span{
                            margin: auto;
                            color: $grey-dark;
                            font-size: 1.3em;
                            font-weight: 600;
                        }
                    }
                }

               .list{
                    background-color: $white;

                    &__heading{
                        background-color: $grey-light;
                        height: 50px;

                        .span{
                            margin: auto;
                            color: $grey-dark;
                            font-size: 1.3em;
                            font-weight: 800;

                        }
                    }

                    .box{
                        @include flex();
                        margin: 20px auto;

                        &__img{
                            img{
                                width: 320px;
                                height: 200px;

                            }

                            p{
                                margin: 15px auto;
                                font-style: italic;

                            span{
                                color: $grey;
                            }
                            }
                        }

                        &__infos{
                        @include flex(column);
                            flex: 1;
                            text-align: left;
                            margin-left: 10px;

                            h2{
                                text-align: left;
                                font-size: 1.8em;
                                color: $blue;
                            }

                                span{
                                    color: $grey;
                                    font-size: 1em;
                                font-weight: 400;
                                font-style: italic;
                                }

                                .price{
                                    color: $blue;
                                    font-style: italic;
                                    font-size: 1.2em;
                                }
                            .icons{
                                width: 400px;
                                @include flex();
                                justify-content: start;

                                .icon{
                                    margin: 10px;
                                    background-color: $grey-light;
                                    height: 25px;

                                    i{
                                        color: $grey-dark;
                                    }

                                }
                            }

                            .btn{
                                //: right;
                                margin-right: 10px;
                            }
                        }
                    }
                }

               .item{
                display: block;

                &__heading{
                    height: 50px;
                    background-color:$grey;
                    width: 100%;
                    @include flex();

                    span{
                        color: blue;
                        float: left;
                        font-size: 1.3em;
                        margin: auto 0;
                    }

                    .price{
                        float: right;
                    }
                }

                &__body{
                    display: block;

                    &__img{
                        width: 100%;
                        height: 350px;
                        overflow: hidden;
                        padding: 5px;

                        img{
                            width: 100%;
                            margin: auto;
                        }

                        .images{
                            @include flex();
                            margin: 10px auto;
                            img{
                                width: 80px;
                                height: 60px;
                                margin: auto;
                            }
                        }
                    }

                    &__text{
                        text-align: left;
                        margin: 10px auto;

                    }

                    &__more-infos{

                    }

                    &__share{
                        ul{
                            li{
                                display: inline;
                            }
                        }
                    }

                }
               }

               .agent{
                margin: 10px auto;
               }

                h1{
                    color: $blue;
                }

                .card-text{
                    i{
                        color: $blue;
                    }
                }

                .price{
                    font-size: 1.5em;
                    font-weight: 800;
                }

                .img{
                    width: 150px;
                }
            }

            .contact{

                &__item{
                    .contact-box{

                        ul{
                            padding-top: 50px;
                            margin-top: 80px;
                        }
                        img{
                            width: 120px;
                            height: 80px;
                        }
                    }
                }
            }

          }


            .about{

                &__title{
                    display: table;

                    h2{
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                .items{
                    &__item{text-align: center;
                        i{
                            color: $blue;
                            font-size: 2em;
                        }

                        p{
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.footer{
   // background-color: rgb(83, 80, 80);
}


/*responsive for 1023px*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .main{
        .section{
            .container{
                .contact{
                    &__item{
                        .contact-box{
                            img{
                                width: 120px;
                                height: 80px;
                            }
                        }
                    }
                }



            }
        }
    }
}

/*responsive for 767px*/
@media screen and (min-width: 350px) and (max-width: 767px) {
    .main{
       .content{
        .section{
            .blue{
                height: auto;

                .container{
                    .boxes{
                        flex-direction: column;
                        height: auto;
                        &__box{

                        }
                    }
                }
            }


            .container{
                .contact{
                    &__item{
                        .contact-box{
                            img{
                                width: 120px;
                                height: 80px;
                            }
                        }
                    }
                }

                .hero{
                    padding-bottom: 50px;
                    &__search{
                        height: auto;
                        justify-content: space-between;

                        label{
                            margin: 10px auto;
                        }
                    }
                }
                .blue{
                    .container{
                        .boxes{
                            &__box{
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }

          .slider{
                margin: 50px auto;
            }
       }
    }
}