@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
html, body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: #F1F1F1;
}

/*
@keyframes card {
    0% {
      transform: scaleX(1.0);
    }

    30% {
      }

    100% {
        transform: scaleX(1.1);
    }
    }
*/
h2, h3 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: #6F6F6F;
  font-weight: bold;
}

i {
  color: #6a70a1;
  margin: 5px;
  cursor: pointer;
}

.close {
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.close i {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  color: #6a70a1;
}
.close i:hover {
  color: #7dbf4a;
}

.text-center {
  margin: auto;
}

.fw-bold {
  font-weight: bold;
  margin: 15px auto;
}

.location {
  margin: 10px auto;
}
.location i {
  font-size: 1.1em;
  color: #6a70a1;
}

.share-btn i {
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.required {
  color: red;
  font-weight: bold;
}

.menu {
  width: 100%;
  background-color: #6F6F6F;
  height: 75vh;
  min-height: 75vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  justify-content: start;
}
.menu .btn {
  margin: 5px auto;
  width: 150px;
}

.dashboard {
  background-color: #6F6F6F;
  height: 75vh;
  min-height: 75vh;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}

.btn {
  color: white;
  background-color: #6a70a1;
  border: 1px solid;
  border-color: #6a70a1;
  max-width: 130px;
  min-width: 110px;
  cursor: pointer;
}

.btn-grey {
  color: white;
  background-color: #6a70a1;
  border: 1px solid;
  border-color: #6a70a1;
  max-width: 130px;
  min-width: 110px;
  cursor: pointer;
}

.btn-grey:hover {
  background-color: #6a70a1;
  color: white;
}

.buttons {
  display: block;
  text-align: center;
  margin: auto;
  width: 80%;
}
.buttons .btn {
  margin: 10px;
}

.table-img {
  width: 90px;
  height: 50px;
  margin: auto;
}

.btn-primary {
  color: white;
  background-color: #6a70a1;
  border: 1px solid;
  border-color: #6a70a1;
  max-width: 130px;
  min-width: 110px;
  cursor: pointer;
}
.btn-primary a {
  color: white;
}

.btn-primary:hover {
  background-color: #7dbf4a;
}
.btn-primary:hover a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #6a70a1;
  text-decoration: none;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

li {
  list-style: none;
}

span {
  color: #6a70a1;
  font-weight: bold;
  font-style: italic;
}

.up {
  background-color: #6a70a1;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  float: right;
}
.up i {
  color: white;
  font-size: bold;
}

.up:hover {
  background-color: #7dbf4a;
}

.slider-img {
  height: 400px;
  margin: auto;
  width: 80%;
}

.main {
  display: block;
}
.main .content {
  display: block;
  width: 100%;
}
.main .content .section {
  width: 100%;
  margin: 15px auto;
}
.main .content .section .container .row .tags {
  background-color: white;
  border: 1px rgb(235, 223, 223) solid;
  margin-bottom: 15px;
}
.main .content .section .container .row .tags__heading {
  background-color: #F6F6F6;
  width: 100%;
  height: 50px;
  display: table;
}
.main .content .section .container .row .tags__heading .span {
  margin: auto;
  color: #6F6F6F;
  font-size: 1.3em;
  font-weight: 600;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.main .content .section .container .row .tags .iframe {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: auto;
}
.main .content .section .container .row .tags .iframe iframe {
  width: 195px;
  height: 195px;
  margin: auto;
}
.main .content .section .container .row .list {
  background-color: white;
}
.main .content .section .container .row .list__heading {
  background-color: #F6F6F6;
  height: 50px;
}
.main .content .section .container .row .list__heading .span {
  margin: auto;
  color: #6F6F6F;
  font-size: 1.3em;
  font-weight: 800;
}
.main .content .section .container .row .list .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  margin: 20px auto;
  border: 1px solid rgb(235, 223, 223);
}
.main .content .section .container .row .list .box__img img {
  width: 320px;
  height: 200px;
}
.main .content .section .container .row .list .box__img p {
  margin: 15px auto;
  font-style: italic;
}
.main .content .section .container .row .list .box__img p span {
  color: #F1F1F1;
}
.main .content .section .container .row .list .box__infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  flex: 1;
  text-align: left;
  margin-left: 10px;
}
.main .content .section .container .row .list .box__infos h2 {
  text-align: left;
  font-size: 1.8em;
  color: #6a70a1;
}
.main .content .section .container .row .list .box__infos span {
  color: #F1F1F1;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}
.main .content .section .container .row .list .box__infos .price {
  color: #6a70a1;
  font-style: italic;
  font-size: 1.2em;
}
.main .content .section .container .row .list .box__infos .icons {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  justify-content: start;
}
.main .content .section .container .row .list .box__infos .icons .icon {
  margin: 10px;
  background-color: #F6F6F6;
  height: 25px;
}
.main .content .section .container .row .list .box__infos .icons .icon i {
  color: #6F6F6F;
}
.main .content .section .container .row .list .box__infos .btn {
  margin-right: 10px;
}
.main .content .section .container .row .item {
  display: block;
}
.main .content .section .container .row .item__heading {
  height: 50px;
  background-color: #F1F1F1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
}
.main .content .section .container .row .item__heading h2 {
  color: #6a70a1;
}
.main .content .section .container .row .item__heading .price {
  float: right;
  color: #6a70a1;
  margin: auto 10px auto auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}
.main .content .section .container .row .item__body {
  display: block;
}
.main .content .section .container .row .item__body__img {
  width: 100%;
  height: 350px;
  overflow: hidden;
  padding: 5px;
}
.main .content .section .container .row .item__body__img img {
  width: 100%;
  margin: auto;
}
.main .content .section .container .row .item__body__img .images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  margin: 10px auto;
}
.main .content .section .container .row .item__body__img .images img {
  width: 80px;
  height: 60px;
  margin: auto;
}
.main .content .section .container .row .item__body__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  justify-content: space-evenly;
}
.main .content .section .container .row .item__body__images img {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.main .content .section .container .row .item__body__text {
  text-align: left;
  margin: 10px auto;
}
.main .content .section .container .row .item__body__more-infos .infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  justify-content: start;
}
.main .content .section .container .row .item__body__more-infos .infos .info {
  margin: 5px;
}
.main .content .section .container .row .item__body__more-infos .infos .info i {
  color: #6F6F6F;
}
.main .content .section .container .row .item__body .share-btns {
  width: 200px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
}
.main .content .section .container .row .item__body .share-btns .share-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: table;
  margin: 5px;
}
.main .content .section .container .row .item__body .share-btns .whatsapp {
  background-color: #7dbf4a;
}
.main .content .section .container .row .item__body .share-btns .facebook {
  background-color: #3b5998;
}
.main .content .section .container .row .item__body .share-btns .mail {
  background-color: #6a70a1;
}
.main .content .section .container .agent {
  margin: auto;
}
.main .content .section .container .agent__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  justify-content: start;
  margin: auto 15px;
}
.main .content .section .container .agent__infos img {
  width: 150px;
  height: 90px;
}
.main .content .section .container .agent__infos__list {
  margin-left: 10px;
  display: block;
}
.main .content .section .container .agent__infos__list .agent-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
}
.main .content .section .container .agent__infos__list .agent-contact .share-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  display: table;
  margin: 5px;
}
.main .content .section .container .agent__infos__list .agent-contact .whatsapp {
  background-color: #7dbf4a;
}
.main .content .section .container .agent__infos__list .agent-contact .phone {
  background-color: #cb2027;
}
.main .content .section .container .contact__item .contact-box ul {
  padding-top: 50px;
  margin-top: 80px;
}
.main .content .section .container .contact__item .contact-box img {
  width: 120px;
  height: 80px;
}
.main .content .about__title {
  display: table;
}
.main .content .about__title h2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.main .content .about .items__item {
  text-align: center;
}
.main .content .about .items__item i {
  color: #6a70a1;
  font-size: 2em;
}
.main .content .about .items__item p {
  font-weight: bold;
}

/*responsive for 1023px*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .main .section .container .contact__item .contact-box img {
    width: 120px;
    height: 80px;
  }
}
/*responsive for 767px*/
@media screen and (min-width: 350px) and (max-width: 767px) {
  .main .content .section .blue {
    height: auto;
  }
  .main .content .section .blue .container .boxes {
    flex-direction: column;
    height: auto;
  }
  .main .content .section .container .contact__item .contact-box img {
    width: 120px;
    height: 80px;
  }
  .main .content .section .container .hero {
    padding-bottom: 50px;
  }
  .main .content .section .container .hero__search {
    height: auto;
    justify-content: space-between;
  }
  .main .content .section .container .hero__search label {
    margin: 10px auto;
  }
  .main .content .section .container .blue .container .boxes__box {
    height: 400px;
  }
  .main .content .slider {
    margin: 50px auto;
  }
}/*# sourceMappingURL=main.css.map */